.rectangle {
    width: 300px;
    height: 150px;
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle {
    background-color: lightblue;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}